body{
  line-height: 1.5;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.name{
  color: #444444;
  background: #F1F1F1;
  margin: 0;
  padding: 20px;
  margin-bottom: 50px;
}

h3{
  color: #404040;
  margin: 4%;
  font-weight: lighter;
}

h4{
  margin: 4%;
  color: #404040;
}

.tdctext{
  color: #404040;
  width: 98%;
  margin: 2%;
}

.tdc01{
  width: 70%;
  margin-left: 15%;
}

img{
  width: 100%;
}

p{
  color: #686868;
}

.container{
  background: #ECECEC;
  margin: auto;
  width: 90%;
  padding: 15px;
  border-radius: 5px;
  margin: 40px auto;
}

hr{
  width: 30%;
  border: dotted #ECECEC 5px;
  border-bottom: none;
  margin: 50px auto;
}

.footer{
  color: #ECECEC;
  text-align: center;
  font-size: 0.625rem;
}

footer{
  background: #474747;
  padding: 1px;
  margin-top: 50px;
}

footer hr{
  width: 95%;
  border: solid #ECECEC 1px;
  border-bottom: none;
  margin: 10px auto;
}

footer h2{
  color: #ECECEC;
  margin: 0;
  margin-left: 7px;
  margin-top: 5px;
}

.btn{
  background: #2E99D0;
  padding: 15px;
  border: 0;
  border-radius: 5px;
}


#btn{
  text-align: center;
  margin-top: 70px;
}

a{
  text-decoration: none;
  color: #ECECEC;
  font-weight: bold;
}

a:hover{
  background: #ffffff;
  padding: 16px;
  border: #2E99D0 1px solid;
  color: #2E99D0;
}

span{
  font-weight: bold;
}